<mat-card *ngFor="let day of listDays">
  <mat-card-content>
    <h3>Total Summary</h3>
    <p>Calculated on {{ (orders$ | async)?.totalCount }} records</p>
  </mat-card-content>
  <mat-card-content>
    <p>Cutting Duration</p>
    <h2>Total Days: {{day.cuttingTotal}}</h2>
  </mat-card-content>
  <mat-card-content>
    <p>Preparation Duration</p>
    <h2>Total Days: {{day.preparationTotal}}</h2>
  </mat-card-content>
  <mat-card-content>
    <p>Bending Duration</p>
    <h2>Total Days: {{day.bendingTotal}}</h2>
  </mat-card-content>
  <mat-card-content>
    <p>Assembly Duration</p>
    <h2>Total Days: {{day.assemblyTotal}}</h2>
  </mat-card-content>
</mat-card>
