<h2 mat-dialog-title>{{ "order.order" | transloco }} {{ data.order.orderNumber }} - {{ data.order.customer }}</h2>

<mat-dialog-content>

  <ng-template [ngIf]="form != null && !isOrderStageStarted">
    <form [formGroup]="form">
      <div class="flex gap-2 items-center">

        <mat-form-field class="grow">
          <mat-label>{{ "time.hours" | transloco }}</mat-label>
          <input #durationHoursInput formControlName="durationHours" matInput type="number" min="0" placeholder="1">
          <mat-error *ngIf="form.controls['durationHours'].hasError('required')">
            {{ "requiredFiled" | transloco }}
          </mat-error>
          <mat-error *ngIf="form.controls['durationHours'].hasError('min')">
            {{ "minAllowedValueIs" | transloco: { value: durationHoursInput.getAttribute('min') } }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="grow">
          <mat-label>{{ "time.minutes" | transloco }}</mat-label>
          <input #durationMinutesInput formControlName="durationMinutes" matInput type="number" min="0" max="59" placeholder="0">
          <mat-error *ngIf="form.controls['durationMinutes'].hasError('required')">
            {{ "requiredFiled" | transloco }}
          </mat-error>
          <mat-error *ngIf="form.controls['durationMinutes'].hasError('min')">
            {{ "minAllowedValueIs" | transloco: { value: durationMinutesInput.getAttribute('min') } }}
          </mat-error>
          <mat-error *ngIf="form.controls['durationMinutes'].hasError('max')">
            {{ "maxAllowedValueIs" | transloco: { value: durationMinutesInput.getAttribute('max') } }}
          </mat-error>
        </mat-form-field>

        <button class="grow-0" mat-raised-button (click)="finishFromDuration()">{{'finish' | transloco}}</button>

      </div>      
      <mat-divider></mat-divider>
    </form>
  </ng-template>

  <ng-template [ngIf]="isOrderStageInProcess">
    <div>{{ "order.orderInProcess" | transloco }}</div>
  </ng-template>
  
  <ng-template [ngIf]="isOrderStageEnded">
    <div>{{ "order.orderCompeted" | transloco }}</div>
  </ng-template>

</mat-dialog-content>

<ng-template [ngIf]="!isOrderStageEnded">
  <mat-dialog-actions [align]="'center'">
    <button mat-raised-button [disabled]="isOrderStageStarted" (click)="start()">{{'start' | transloco}}</button>
    <button mat-raised-button [disabled]="!isOrderStageStarted" (click)="finish()">{{'finish' | transloco}}</button>
  </mat-dialog-actions>
</ng-template>

<mat-dialog-content>
  <mat-divider class="mb-3"></mat-divider>
  <form [formGroup]="noteForm">
    <div class="flex flex-col gap-2 justify-center">
      <mat-form-field [style.width.%]="100">
        <mat-label>{{ "note" | transloco }}</mat-label>
        <textarea formControlName="note" matInput></textarea>
      </mat-form-field>
      <button class="grow-0" mat-raised-button (click)="saveNote()">{{'saveNote' | transloco}}</button>
    </div>
  </form>
</mat-dialog-content>