<app-order-form [focusedOrder]="focusedOrder" [orderCreate$]="orderCreate$"
  [orderUpdate$]="orderUpdate$"></app-order-form>

<app-order-filter [searchFilter$]="searchFilter$"></app-order-filter>

<div class="margin">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell class="table-cell" *matCellDef="let order">{{order.id}}</td>
    </ng-container>

    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef> customer</th>
      <td mat-cell class="table-cell" *matCellDef="let order">{{order.customer}}</td>
    </ng-container>

    <ng-container matColumnDef="orderNumber">
      <th mat-header-cell *matHeaderCellDef> orderNumber</th>
      <td mat-cell class="table-cell" *matCellDef="let order">{{order.orderNumber}}</td>
    </ng-container>

    <ng-container matColumnDef="cuttingDate">
      <th mat-header-cell *matHeaderCellDef> cuttingDate</th>
      <td mat-cell class="table-cell" *matCellDef="let order">{{order.cuttingDate | date: 'dd-MM-yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="preparationDate">
      <th mat-header-cell *matHeaderCellDef> preparationDate</th>
      <td mat-cell class="table-cell" *matCellDef="let order">{{order.preparationDate | date: 'dd-MM-yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="bendingDate">
      <th mat-header-cell *matHeaderCellDef> bendingDate</th>
      <td mat-cell class="table-cell" *matCellDef="let order">{{order.bendingDate | date: 'dd-MM-yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="assemblyDate">
      <th mat-header-cell *matHeaderCellDef> assemblyDate</th>
      <td mat-cell class="table-cell" *matCellDef="let order">{{order.assemblyDate | date: 'dd-MM-yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> action </th>
      <td mat-cell class="table-cell" *matCellDef="let order">
        <button (click)="deleteOrder(order, $event)" mat-icon-button class="transparent">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr class="orderRow" mat-row *matRowDef="let rowOrder; columns: columnsToDisplay"
      (click)="this.focusedOrder.next(rowOrder)"></tr>
  </table>
  <mat-paginator
  [pageSizeOptions]="[10, 20]" #paginator showFirstLastButtons
  [length]="totalRecords"
  [pageIndex]="searchFilter$.value.pageIndex"
  [pageSize]="searchFilter$.value.pageSize"
  (page)="onPageChanged($event)"></mat-paginator>
</div>

<app-orders-totals [orders$]="orders$"></app-orders-totals>
